.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control label {
    color: #717274;
}

.form-control input {
    border: 1px solid#6fb3b8;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 6px solid #f34e3a;
    border-radius: 10px;
    color: black;
    background: #f34e3a;
    cursor: pointer;
}

button:hover,
button:active {
    border: 8px solid #d84534;
    background-color: #d84534;
}